<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="forgotpass.component.css">
</head>
<body>
 <div class="container">

    <div class="form-container">
      <form class="form Password-form">
        <h2></h2>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Create another Password" required>
        <input type="password" placeholder="Confirm Password" required>

        <button type="submit">Change password</button>
        <button type="submit">Cancel</button>

               <p><a routerLink='/userlogin'>Back to Log In</a></p>
</form>

    </div>
 </div>
</body>
</html>