<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="register.component.css">
</head>
<body>
 <div class="container">

    <div class="form-container">

      <form class="form Signup-form">
        <h2></h2>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Create Password" required>
        <input type="password" placeholder="Confirm Password" required>

        <button type="submit">Sign Up</button>
        <p>Don't have an account?<a routerLink='userlogin'>Log in here</a></p>

      </form>

    </div>
 </div>
</body>
</html>