*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 20px;
}

  
  header {
    background-color: #0073e6;
    color: white;
    width: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
    padding: 20px 10px;
   
  }
  
  header h1 {
    margin: 0;
  }
  
  .agenda {
    padding: 20px;
  }
  
  .agenda-item {
    display: flex;
    margin-bottom: 15px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .time {
    font-weight: bold;
    margin-right: 15px;
    color: #0073e6;
  }
  
  .details h2 {
    margin: 0 0 5px;
    color: #222;
  }
  
  .details p {
    margin: 2px 0;
  }
  .btn{
    width: 20%;
    height: 50px;
    font-size: 1.0rem;
    height:18%;
    padding: 10px 20px;
    background: #0EA5E9;
    color: #fff;
    border: none;
    border-radius: 16px;
   justify-content: space-between;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 15px;
  }