<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Agenda</title>
  <link rel="stylesheet" href="agendas.component.css">
</head>
<body>
  <header>
  
    <p>Welcome to the event! Here’s the schedule:</p>
  </header>
  <main class="agenda">
    <div class="agenda-item">
      <span class="time">09:00 AM</span>
      <div class="details">
        <h2>Opening Ceremony</h2>
        <p>Speaker: Mike Kenny Bacabis</p>
        <p>Location: Main Hall</p>
      </div>
    </div>

    <div class="agenda-item">
        <span class="time">10:00 AM</span>
        <div class="details">
          <h2>Meeting topic: Marketing strategies</h2>
          <p>Speaker: Jacqueline Noleal</p>
          <p>Location: Via zoom meeting</p>
          
        </div>
      </div>

      <div class="agenda-item">
        <span class="time">1:00 PM</span>
        <div class="details">
          <h2>Brainstorming for upcoming campaigns (30 mins)</h2>
          <p>Speaker: Jenny Faye Salangsang</p>
          <p>Location: Via zoom meeting</p>
          <p>Purpose: Collect creative ideas for Q1 campaigns.</p>
          <p>Led by Project manager</p>
          <p>Tools: Whiteboard, brainstorming worksheet</p>
          
        </div>
      </div>

      <div class="agenda-item">
        <span class="time">1:00 PM</span>
        <div class="details">
          <h2>Closing Remarks</h2>
          <p>Led by meeting facilitator:  Doe</p>
          <p>Location: Via zoom meeting</p>
          <p>Purpose: Address questions and summarize key points.</p>
          
        </div>
      </div>
  
    <button class="btn">+ create more agenda</button>
  </main>
</body>
</html>
