<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event list</title>
    <link rel="stylesheet" href="eventlist.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=confirmation_number" />
</head>

<body>
    
    <main class="div-container">
        <div class="grid">
            <div class="card">
                <img src="https://i.pinimg.com/736x/ce/e2/bb/cee2bbae23458ce32d0070b752e713db.jpg" alt="">
                <p>18th Birthday for Marie</p>
                <h2>Description</h2>
            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/ec/18/71/ec18719cc74862987ac192d83bcfdee0.jpg" alt="">
                <p>Wedding Anniversary</p>
                <h2>Description</h2>

            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/8d/ff/df/8dffdf31efcdbb9b58d1c4b2fd5ef27d.jpg "alt="">
                <p>Family reunion</p>
                <h2>Description</h2>

            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/af/3f/d8/af3fd8979419204a7157a2901f25d255.jpg" alt="">
                <p>Highschool reunion</p>
                <h2>Description</h2>

            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/b6/f6/4a/b6f64ad6377702e39a88d66c2a4aca56.jpg" alt="">
                <p>Thanksgiving</p>
                <h2>Description</h2>

            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/a4/27/5c/a4275c42b01bbd826a9fcdf6826d4716.jpg" alt="">
                <p>Hiking</p>
                <h2>Description</h2>

            </div>
        </div>
    </main>
</body>
</html>