<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan IT</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <header class="navbar">
        <a routerLink='dashboard'><div class="logo">PlanIt</div></a>
        <nav>
            <ul>
                <li><a routerLink='home'>Home</a></li>
                <li><a routerLink='about'>About</a></li>
                <li><a routerLink='services'>Services</a></li>
            </ul> 
        </nav>
        <a routerLink=''><div class="user-profile">Tanjiro Kamado</div></a>
    </header>
</body>

<router-outlet></router-outlet>
</html>