<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="services.component.css">
</head>
<body>
    
    
    
      <div class="container">
        <div class="carousel">
          <img src="https://i.pinimg.com/736x/37/54/1b/37541b9e8e0c6351f4357ff803164c25.jpg" alt="Event Image">
          <div class="indicators">
            <button class="active">.</button>
            <button>.</button>
            <button>.</button>
            <button>.</button>

          </div>
        </div>
    
        <!-- Grid Section -->
        <div class="grid">
          <div class="card">
              <img src="https://i.pinimg.com/736x/c6/7c/03/c67c03867ce150cc6f6494ca285cec53.jpg" alt="Services" />
            <p>Event Sharing</p>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/736x/c6/7c/03/c67c03867ce150cc6f6494ca285cec53.jpg" alt="">

            <p>Agenda Listing</p>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/736x/7c/10/f2/7c10f22e65623d455b8c218ba2866496.jpg" alt="">
            <p>Create Multiple Events</p>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/736x/2f/ec/e7/2fece74f86936ace14b0e48f49966b0c.jpg" alt="">
            <p>Guest Invitations</p>

            
            
          </div>
        </div>
      </div>
    </body>
    
</html>